* { margin:0; padding:0; }

html, body {
    width:100%;
    height:100%;
    position:fixed;
    overflow: hidden;
}

canvas {
    display:block;
    overflow: hidden;
}

li,a {
    outline: none !important;
}

.fullRounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.bottomRounded {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}